<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  </head>

  <body>
    {% include "partials/header.html" %}

    {% include "partials/flash.html" %}

    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    {% include "partials/footer.html" %}

    <!-- Scripts for Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        //jquery for toggle sub menus
        $('.sub-btn').click(function () {
          $(this).next('.sub-menu').slideToggle();
          $(this).find('.dropdown').toggleClass('rotate');
        });

        //jquery for expand and collapse the sidebar
        $('.menu-btn').click(function () {
          $('.side-bar').addClass('active');
          $('.menu-btn').css("visibility", "hidden");
        });

        $('.close-btn').click(function () {
          $('.side-bar').removeClass('active');
          $('.menu-btn').css("visibility", "visible");
        });
      });
    </script>
  </body>

</html>
