<div>
  <div class="menu-btn">
    <i class="fas fa-bars"></i>
  </div>
  <div class="side-bar">
    <div class="close-btn">
      <i class="fas fa-times"></i>
    </div>
    <div class="menu">
      <div class="item"><a href="/"><i class="fas fa-desktop"></i>Home</a></div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-table"></i>Forms<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdvyJgK0wK2aGrkxEjUE23qSTDZpdbkHPnDScKQZ3ih0Oupiw/viewform"
            class="sub-item">LHD Share Referral Form</a>
        </div>
      </div>
      <div class="item"><a href="/art"><i class="fas fa-th"></i>Art Gallery</a></div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-cogs"></i>Join EddieHub<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
          <a href="https://github.com/EddieHubCommunity/support" target="_blank" class="sub-item">
            <img src="{{ url_for('static', filename='img/github.png') }}" alt="github-logo">
          </a>
          <a href="https://discord.com/invite/PNHRZJf7v7" target="_blank" class="sub-item">
            <img src="{{ url_for('static', filename='img/discord.png') }}" alt="discord-logo">
          </a>
          <a href="https://discord.mlh.io/" target="_blank" class="sub-item">
            <img src="{{ url_for('static', filename='img/mlh-logo-white.png') }}" alt="mlh-logo">
          </a>
        </div>
      </div>
      <div class="item"><a href="/about"><i class="fas fa-info-circle"></i>About</a></div>
    </div>
    <section class="main">
      <h1>EddieHub</h1>
    </section>
  </div>
